
.main-img {
    background-image: url('../images/S&A-100.jpg');
}

.normal_font {
    font: italic 400 36px Playfair Display, Arial !important;
}

.akshay-headshot {
    background-image: url('../images/akshay3.jpg');
    background-size: cover;
}

.selena-headshot {
    background-image: url('../images/selena.jpg');
    background-size: cover;
}

.couple1 {
    height: 400px;
    background-image: url('../images/couple2.jpg');
    background-size: cover 
}

.couple2 {
    height: 400px;
    background-image: url('../images/couple1.jpg');
    background-size: cover; 
}

.quote-bg {
    background-image: url('../images/quote-bg.jpg');
    background-size: cover;
    background-position: center;
}